body{
  background: url("/assets/Background.png")no-repeat center center fixed;
  min-width: 100%;
  min-height: 100%;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
  background-size: cover;
}
.fullwidth{
  min-width: 100%;
  margin: 0;
  padding: 0;
  align-items: center;
}
.mdl-card__title-text{
  font-size:18px;
  margin-left:0;
}
.mdl-grid{
  padding-top:4%;
}
.rating{
  font-size:22px;
}

.mdl-card{
    padding-top:4%;
    min-width:100%;
    height: auto;
}
.tagline{
  font-size:18px;
}
.mdl-card_media{
  background: transparent;
}
.mdl-card_media img{
  min-width:100%;
  height:auto;
}
.fix-it{
  position: fixed;
  z-index: 100;
}

.over-view{
    font-size: 22px;
}
.is-active-tab{
    border-bottom: 4px solid #0ff;
}
.mdl-tabs{
    background-color: white;
    max-height: 5%;
}
.tab-navs{
    height: auto;
}

